.root{
    -fx-background-color: white;
}

.left-background{
    -fx-background-color: #EFEEEC;
    -fx-border-color: #FFE890;
}

.nav-button{
    -fx-background-color: #FFCC07;
    -fx-border-color: #FFE890;
    -fx-text-fill: black;
    -border-radius: 0px;
    -background-radius: 0px;
    -fx-cursor: hand;
    -fx-pref-height: 250px;
}

.nav-button:hover{
    -fx-background-color: #FFE890;
}

.head{
    -fx-background-color: #EFEEEC;
    -fx-border-color: #FFE890;
}

.sign-out-button{
    -fx-background-color: white;
    -fx-border-color: #FFCC07;
    -fx-border-radius: 100px;
    -fx-background-radius: 100px;
    -fx-cursor: hand;
}

.sign-out-button:hover{
    -fx-background-color: #776F2C;
    -fx-text-fill: white;
}

.board{
    -fx-background-color: #EFEEEC;
}

.shadow{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 5,0,0,0);
}

.trasparent{
    -fx-background-color: trasparent;
}

.background-main{
    -fx-background-color: #FFCC07;
}

.board-radius{
    -fx-background-radius: 8px;
}

.white-background{
    -fx-background-color: white;
}



.btn{
    -fx-background-color: #FFCC07;
    -fx-background-radius: 5px;
    -fx-border-color: #FFE890;
    -fx-border-radius: 5px;
    -fx-cursor: hand;
}

.btn:hover{
    -fx-background-color: #FFE890;
    -fx-border-color: #FFCC07;
}

